:root
    --body-background: #fafafa

html, body
    margin: 0
    padding: 0
    font-size: 16px

body
    min-height: 100vh
    min-width: 100vw
    background: var(--body-background)

body, input, button, textarea
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    font-size: 1rem
